# Node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
Thumbs.db
db.properties
Desktop.ini
.DS_Store

# IDE and Editor files
.vscode/
.idea/
*.suo
*.user
*.workspace
.project
.settings/

# Local logs
logs/
*.log
